header{
background: #00d2ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3a7bd5, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3a7bd5, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
border-top: 100px;
}
.caixa{
    position: relative;
	width: 1200px;
}
.caixa img{
    width: 90%;

}
.caixa img:hover{
    width: 100%;

}
.links{
    text-align: right;
}

nav{
    position: absolute;
    top: 75%;
    right: 0;
}
nav a{
    display: inline;
    text-decoration: none;
    color: white;
    position: relative;
    margin: 0 30px 0 0;
    text-transform: uppercase;
    font-size: 30px;
    font-family: cursive;

}
nav a:hover{
    color: #00d2ff;
}
